body {
  font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
}
a:visited {
  color: #0000ee;
}
h2 {
  color: #64CE55;
  font-size: 77px;
  margin-bottom: 20vh;
}
.imgLink {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  margin-left: -70px;
}
.intuitlogo {
  height: 100%;
}
#result {
  white-space: pre-wrap;
}
.banner {
  background-color: #393A3D;
  height: 7vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index:20;
}
#buttons {
  padding: 2px;
  margin-left: 5%;
}
button {
  width: 12vw;
}
.connected {
  padding-top: 5px;
  color: #28A148;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-left: 65vw;
  position: relative;
}
.app {
  position: relative;
  padding-top: 5%;
}
.center {
  text-align: center;
}
.demo {
  margin: auto;
  margin-left: 45%;
}
.codeplaceholderquery, .codeplaceholderread {
  background-color: #5E6065;
  color: #5564CE;
  font-family: "Open-Sans", sans-serif;
  margin: 0;
  padding: 5px;
  height: 35px;
  border-top: 5px solid #393A3D;
}
code {
  background-color: #f9f2f4;
  color: #c7254e;
  max-height: 45vh;
  max-width: 100%;
  margin: auto;
  overflow-y: scroll;
  margin-bottom: 0;
}
pre {
  margin-bottom: 0;
}
b {
  margin-right: 80px;
}
.apiform {
  align-content: center;
  margin: auto;
  max-width: 70%;
  border: 5px solid #393A3D;
  padding: 0%;
}
.apiurl {
  background-color: #9ADF90;
  color: #5564CE;
  font-family: "Open-Sans", sans-serif;
  margin: 0;
  padding: 5px;
  height: 35px;
  border-bottom: 5px solid #393A3D;
}

.innerapiform {
  padding: 2.5%;
}
.formfield {
  margin: auto;
}
span {
  font-family: "Open-Sans", sans-serif;
  color: #CE5564;
  margin: 0;
}
